.span-1-of-3 img {
    height: 300px;
    width: 300px;
}

.container-about-us {
    padding: 100px  400px;
    text-align: center;
}

.container-our-services {
    background-color: #f3f5f3;
}

.about-us-digits {
    font-size: 30px;
    font-weight: bold;

}

.span-1-of-4 p:last-child {
    color: grey;
}

.about-us-para {
    color: grey;
}

.about-us-top {
    color: red;
    font-size: 90%;
}

.about-us-image img:hover {
    transform: scale(0.85);
    transition: transform 0.5s;
}