.container-our-team {
    padding: 100px  400px;
    text-align: center;
}

.container-our-team img:hover {
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}

.team-member {
}

/* .team-member:hover {
    opacity: 0.5;
} */

.container-our-team h3 {
    font-weight: bold;
    font-size: 200%;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }