.container-our-team {
    padding: 100px  400px;
    text-align: center;
}

.container-our-team img:hover {
    opacity: 1;
}

.team-member img {
    margin-top: 10px;
    opacity: 0.8;
}

/* .team-member:hover {
    opacity: 0.5;
} */

.container-our-team h3 {
    font-weight: bold;
    font-size: 200%;
}

.team-member {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .team-member-name {
    top: 50%;
  }

  .team-member-designation {
    top: 60%;
  }
  .team-member-links {
    top: 80%;
  }

  .team-member-name,
  .team-member-designation,
  .team-member-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(29, 106, 154, 0.72); */
    color: black;
    visibility: hidden;
    opacity: 0;
    color: white;
    font-weight: bold;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  
  .team-member:hover .team-member-name,
  .team-member:hover .team-member-designation,
  .team-member:hover .team-member-links {
    visibility: visible;
    opacity: 1;
  }