.container-our-services {
    padding: 100px  400px;
    text-align: center;
}

.our-services-top {
    color: red;
    font-size: 120%;
}

.about-us-achievements {
    background-color: #f3f5f3;
}

.icon-services {
    color: black;
}

.container-our-services a {
    text-decoration: none;
    /* border-radius: 20px; */
    /* margin: auto; */
    color: black;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    /* padding-right: 80%; */
}

.container-our-services a:hover {
    color: red;
}

.container-our-services h3 {
    font-weight: bold;
    font-size: 200%;
}

.service-description {
    color:grey;
}

.container-our-services p:last-child {
    text-align: left;
}

.container-our-services ul {
    list-style: none;
    display: inline-block;
}

.container-our-services li{
    display: inline-block;
}

.container-our-services i {
    color: #ee2100;
}
.services-content {
    float: right;
}

.services-icon {

}
.our-services-top h3 {
    margin: 0;
}