.blog img {
    height:200px;
}

.blog-author {
    color: grey;
    font-size: 70%
}

.blog-title {
    font-size: 120%;
    font-weight: bold;
}

.blog-body {
    color: grey;
    font-size: 90%;
}

.blog-link:link,
.blog-link:visited {
    text-decoration: none;
    color: black;
    font-size: 120%;
}

.blog-link:hover,
.blog-link:active {
    color: red;
}

.blog img {
    opacity: 1;
    transition:  opacity 0.5s;

}

.blog img:hover {
    opacity: 0.7;
}

.blogs {
    margin-bottom: 100px;
}

.section-our-blog {
    margin-top: 13%;
}