/* big tablets to 1200px: from 1024px to 1200px */
@media only screen and (max-width: 1200px) {
        /*************************************************                                     Header                                        *******************************************/

   /* .head-part {
       width: 100%;
   }
   .row {
       width: 100%;
   }
    .header-box-heading {
        font-size: 200%;
    }

    .header-box-para {
        font-size: 80%;
    } */

    /*************************************************                                    About Us                                        *******************************************/

    .about-us-image img {
        width: 200px;
        height: auto;
    }
    .container-about-us,
    .container-our-services,
    .container-our-team,
    .container-our-skills {
        padding: 100px;
    }
    
    .contact-us-link {
        width: 30%;
        font-size: 70%;
        padding: 40%;
    }
     /*************************************************                                    Our Services                                        *******************************************/

    

    /*************************************************                                    Our Team                                        *******************************************/

    

    /*************************************************                                    Our Skills                                        *******************************************/



    /*************************************************                                     quote                                        *******************************************/

  

    /*************************************************                                     our-work                                        *******************************************/

  
    /*************************************************                                     testimonials                                        *******************************************/
    .contact-us a:link,
    .contact-us a:visited {
        width: 200px;
        height: 20%;
    }

    /*************************************************                                     pricing-table                                        *******************************************/

    .container-plan-specifications li {
        font-size: 60%;
    }

    .features {
        height: 80%;
    }
    /*************************************************                                     blogs                                       *******************************************/
    .blog img {
        width: 80%;
        height: auto;
    }
    /*************************************************                                     contact us                                        *******************************************/
    .contact-us-image img {
        width: 100vw;
    }

   .form-submit {
        width: 13%;
    }
    /*************************************************                                     contact us                                        *******************************************/
    
    .follow-us-instagram {
        display: inline-block;
        padding-left: 25%;
    }
}



/* small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    

/*************************************************                                     header                                        *******************************************/
.main-nav li {

}

/*************************************************                                    About Us                                        *******************************************/

.about-us-image img {
    width: 70%;
    height: auto;
}
.container-about-us,
.container-our-services,
.container-our-team,
.container-our-skills {
    padding: 100px;
}

.contact-us-link {
    width: 30%;
    font-size: 70%;
    padding: 40%;
}
 /*************************************************                                    Our Services                                        *******************************************/



/*************************************************                                    Our Team                                        *******************************************/

.team-member img {
    width: 60%;
    height: auto
}

/*************************************************                                    Our Skills                                        *******************************************/



/*************************************************                                     quote                                        *******************************************/
.quote {
    top: 20%;
}

.quote-author {
    right: 39%;
}


/*************************************************                                     our-work                                        *******************************************/

.contact-us a:link {
    padding: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 27%;
}
.contact-us-link {
    
}

/*************************************************                                     testimonials                                        *******************************************/
.contact-us a:link,
.contact-us a:visited {
    width: 200px;
    height: 20%;
}

.comment-container {
    padding: 40px 20px;
}

/*************************************************                                     pricing-table                                        *******************************************/

.container-plan-specifications li {
    font-size: 80%;
}

.container-plan-specifications ul {
    padding-left: 0;
}

.container-plan-specifications ul i {
    padding: 5%;
}

.features {
    height: 80%;
}
.plan-button .btn-full:link,
.plan-button .btn-full:visited {
    width: 20%;
    height: 5%;
    padding:5%;
    font-size: 20%;
}
/*************************************************                                     blogs                                       *******************************************/
.blog img {
    width: 80%;
    height: auto;
}
.twitter-links-author {
    top:70%;
}
/*************************************************                                     contact us                                        *******************************************/
.contact-us-image img {
    width: 100vw;
}

.form-submit {
    width: 13%;
}

.get-in-touch-form-input {
    margin-right: 50%;
}

.get-in-touch-form-textarea {
    margin-left: 50%;
}
.follow-us-instagram {
    display: inline-block;
    padding-left: 25%;
}
/*************************************************                                      footer                                        *******************************************/

.footer-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .popular-posts,
.help-centre,
.our-services,
.instagram-widgets {
    float: left;
    display: block;
} */


    
}
/* small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
   
    h1, h3 {
        font-size: 150%;
    }

    /*************************************************                                     header                                        *******************************************/
.main-nav {
    display: none;
}

.header-box-heading {
    font-size: 180%;
}

/*************************************************                                    About Us                                        *******************************************/

.about-us-para {
    font-size: 80%;
}
 /*************************************************                                    Our Services                                        *******************************************/
.container-our-services {
    padding: 5% 3%;
}

.service-description {
    font-size: 80%;
}


/*************************************************                                    Our Team                                        *******************************************/

.team-member img {
    width: 80%;
    height: auto
}

.container-our-team {
    padding: 5% 2%;
}

/*************************************************                                    Our Skills                                        *******************************************/

.container-our-skills {
    padding: 5% 2%;
}

/*************************************************                                     quote                                        *******************************************/
.quote {
    top: 20%;
}

.quote-author {
    right: 39%;
}


/*************************************************                                     our-work                                        *******************************************/

.contact-us a:link {
    padding: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 27%;
}
.contact-us-link {
    
}

/*************************************************                                     testimonials                                        *******************************************/
.contact-us a:link,
.contact-us a:visited {
    width: 200px;
    height: 20%;
}

.comment-container {
    padding: 40px 20px;
}

/*************************************************                                     pricing-table                                        *******************************************/

.container-plan-specifications li {
    font-size: 47%;
}

.features {
    height: 80%;
}
.plan-button .btn-full:link,
.plan-button .btn-full:visited {
    width: 20%;
    height: 5%;
    padding:5%;
    font-size: 20%;
}
/*************************************************                                     blogs                                       *******************************************/

/*************************************************                                     contact us                                        *******************************************/

.form-submit {
    padding: 1%;
    width: 20%;
}

/*************************************************                                      footer                                        *******************************************/

.footer-last li{
    padding-left: 2px;
}
    

    
}
/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    /*************************************************                                 Header                                       *********************************************/

    * {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .head-part{
        width: 100vw;

    }
    .main-nav li {
        padding: 0;
        margin: 0;
        font-size: 3%;
    }

    .main-nav {
        display: none;
    }

    .sec-nav.fa-bars {
        display:none;
    }

    .header-box-heading {
        font-size: 120%;
    }

    .header-box-para {
        font-size: 80%;
        
    }

   .row {
       width: 100%;
   }
    .header-box-heading {
        font-size: 200%;
    }

    .header-box-para {
        font-size: 80%;
    } 

   .row {
       width: 100%;
   }
    .header-box-heading {
        font-size: 200%;
    }

    .header-box-para {
        font-size: 80%;
    } 

    .row {
        width: 100%;
    }
     .header-box-heading {
         font-size: 200%;
     }
 
     .header-box-para {
         font-size: 80%;
     } 
 
   }
   
        

   .row {
       width: 100%;
   }
    .header-box-heading {
        font-size: 200%;
    }

    .header-box-para {
        font-size: 80%;
    }  

    

    /*************************************************                                    About Us                                        *******************************************/

     .container-about-us {
        margin-top: 5%;
    }

    .about-us-top {
        text-align: center;
    }

    .container-about-us h3 {
        text-align: center;
        margin-bottom: 10%;
    }
    
    .container-about-us,
    .container-our-services,
    .container-our-skills,
    .container-our-team {
        padding: 0 !important;
    }
    
    .container-our-skills h3 {
        padding: 5px 0 5px 0;
        text-align: center;
    }

    .about-us-image img {
        width: 30%;
        height: auto;
    }

    .about-us-para {
        font-size: 80%;
        margin: 10% 0 10% 0;;
    }

    .about-us-achievements .col {
        width: 118px;
        margin-top: 10%;
    }

    .about-us-achievements {
        background-color: white;

    } 

     /*************************************************                                    Our Services                                        *******************************************/

     .container-our-services {
        margin: 10% 0 10% 0;
    }

    .our-services-top {
        margin: 10% 0 5% 0;
    }

    .container-our-services img {
        float: left;
    } 

    /*************************************************                                    Our Team                                        *******************************************/

      .container-our-team img{
        height: 70%;
        width: auto;
    }

    /*************************************************                                    Our Skills                                        *******************************************/

    .skill-name,
    .skill-percent
    {
        width: 6%;
        float: left;
    }

    .container-our-skills {
        margin-bottom: 2%;
    }

    .skill-container {
        width: 20%;
        display: inline-block;
    } 


    /*************************************************                                     quote                                        *******************************************/

     .quote {
        font-size: 120%;
    }

    .quote-author {
        text-align: center;
        left: 3%;
    } 

    /*************************************************                                     our-work                                        *******************************************/

     .contact-us a:link,
    .contact-us a:visited {
        padding: 1%;
        width: 20%;
        margin-top: 20%;
    } 

    /*************************************************                                     testimonials                                        *******************************************/